body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

h2 {
    font-size: 16px;
}

label {
    font-size: 14px;
}

.titrepage {
    text-align: center;
}

#app {
    display:flex;
    justify-content: space-around;
}

.gauche,.droite {
    width: 500px;
    height: 100%;
    padding: 10px;
}

form {
    margin-bottom: 20px;
}

.form {
    display:flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 12px;
}

#resultLandscape, #resultPortrait, #resultatCrochets {
    margin-top: 10px;
    font-size: 14px;
}
